@import "language-highlight";
@import "taglink";
@import "fonts/cinzel";

main {
	display: grid;
}

@media (max-height: 639px) {
	main {
		margin-top: 15px;
	}
}

@media (min-height: 640px) {
	main {
		margin-top: 50px;
	}
}

@media (min-width: 600px) {
	main {
		margin-left: 25px;
	}
}

#navibar {
	position: sticky;
	top: 0;
}

@media (max-width: 1000px) {
	#years {
		grid-area: y;
	}
	#posts {
		grid-area: p;
	}
	#catsandtags {
		grid-area: l;
	}
}

@media (min-width: 1000px) {
	#years {
		grid-column: 1;
	}
	#posts {
		grid-column: 2;
	}
	#catsandtags {
		grid-column: 3;
	}
}

.year-link + .year-link {
	margin-top: 7px;
}

.year-link {
	display: inline-block;
	color: black;
	text-decoration: none;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
}

#posts {
	@include language-highlight(grey);
}

.year-entry {
	border-bottom: 2px solid grey;
	display: flex;
	justify-content: space-between;
}

.year-label {
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
}

.goto-top-icon {
	width: 10px;
}

.post-list {
	margin-bottom: 45px;
	margin-left: 10px;
}

.post-entry {
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.post-date {
	flex: 0 0 135px;
	font-family: Georgia;
	font-size: 15.5px;
}

.post-title {
	flex: 1 1 auto;
}

.post-link {
	font-family: Cinzel;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

#catsandtags > *:nth-child(n+2) {
	margin-top: 40px;
}

#cats > h2 {
	margin-bottom: 15px;
}

#cats-list {
	display: block;
	margin-left: 2px;
}

#cats-list > a {
	color: black;
	font-family: Georgia;
	font-size: 20px;
	text-decoration: none;
}

@media (max-width: 1000px) {
	#cats-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	#cats-list > a {
		display: inline-block;
		margin-bottom: 15px;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	#cats {
		margin-bottom: -15px;
	}
}

@media (min-width: 1000px) {
	#cats-list > a {
		display: block;
	}
	
	#cats-list > a + a {
		margin-top: 14px;
	}
}

#tags > h2 {
	margin-bottom: 15px;
}

#tags-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#tags-list > a {
	margin-left: 6px;
	margin-right: 6px;
}

@media (min-width: 1000px) {
	#tags-list {
		margin-left: 3px;
		margin-right: 10px;
	}
}

#tags-list > a {
	color: black;
	font-family: Georgia;
	font-size: 16px;
	text-decoration: none;
}

#site-footer {
	margin-top: 50px;
}
