#site-title {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 22px;
	margin-left: 13px;
	color: black;
	font-family: Cinzel;
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
}
