main {
	display: flex;
}

noscript {
	flex: 1 0 auto;
	display: flex;
}

#language-list {
	flex: 1 0 auto;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
}

#language-list > a {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
}

#post-list {
	display: none !important;
}
