@media (max-width: 1000px) {
	main {
		grid-template-columns: auto 15%;
		grid-template-areas:
			"l y"
			"p p";
		grid-column-gap: 60px;
		grid-row-gap: 40px;
	}
}

@media (min-width: 1000px) {
	main {
		//margin-left: auto;
		//margin-right: auto;
		grid-template-columns: 7% minmax(615px,75%) 15%;
		//grid-template-columns: 1fr minmax(615px,1150px) 4fr;
		grid-column-gap: 60px;
	}
}

@import "index";
