---
---
<!DOCTYPE html>
<html
	>

	<head
		>
		<title
			{% if page.lang %}lang="{{ page.lang }}"{% endif %}
			>
			{%- include title/{{ layout.title }}.html -%}
		</title>

		<meta
			content="width=device-width, initial-scale=1"
			name="viewport"
			>

		<link
			href="/{% if page.lang %}{{ page.lang }}/home{% endif %}"
			rel="author"
			>
		<link
			href="//images.assets.djsp.eu/logos/sanctum-02280f2c359d222aa0c0237231a93bb7e919d865e03ac4d7f31d286851a2fc05b1f4297e3f0ac3aa5b37af876c072bf015179f0b96360f1b48e3b4f3d36f53d7.svg"
			rel="icon"
			type="image/svg+xml"
			>
		<link
			href="//images.assets.djsp.eu/logos/sanctum-16x16-851f0a6b3ece059e89d73045c7b11da5a4cc5c9ba8f45cbb3cc77ce7c32bff2d36be84328740a2036eacf7ec52a77c0da8ed55691069c07b7ac802d78fafcd7f.png"
			rel="icon"
			sizes="16x16"
			type="image/png"
			>
		<link
			href="//images.assets.djsp.eu/logos/sanctum-32x32-b801b9585a078b72b237b7d6d82edb769f17f2ac2cc144d806f52d2dd6dd7bb9214860c165779b3913516eefc588622717f4380428208f54faf103cf8b918e7a.png"
			rel="icon"
			sizes="32x32"
			type="image/png"
			>
		{%- capture preamble -%}
			$baseurl: "{{ site.baseurl }}";
			{% if page.lang %}
				$lang: "{{ page.lang }}";
			{% endif %}
			@import "reset";
			@import "base";
		{%- endcapture -%}
		{%- capture postamble -%}
			@media screen {
				@import "base/screen";
				@import "header/{{ layout.header }}";
				@import "navibar/{{ layout.navibar }}";
				@import "{{ page.layout }}/screen";
				{% if page.css.screen %}
					@import "{{ page.css.screen }}";
				{% endif %}
			}
			@media print {
				@import "base/print";
				@import "{{ page.layout }}/print";
				{% if page.css.print %}
					@import "{{ page.css.print }}";
				{% endif %}
			}
		{%- endcapture -%}
		{%- include embed/css.html name=page.layout preamble=preamble postamble=postamble -%}
		{%- if layout.head -%}
			{%- include head/{{ layout.head }}.html -%}
		{%- endif -%}
	</head>

	<body
		>
		<header
			id="site-header"
			>
			{%- include header/{{ layout.header }}.html -%}
		</header>
		<nav
			id="navibar"
			lang="{{ page.lang }}"
			>
			{%- include navibar/{{ layout.navibar }}.html -%}
		</nav>
		<main
			>
			{{ content }}
		</main>
		<footer
			id="site-footer"
			>
			<small
				id="copyright-disclaimer"
				>
				Copyright &copy; <a rel="author" href="https://www.djsp.eu/">{{ site.author }}</a>
			</small>
			<nav
				id="site-footer-right"
				>
				<!--<a id="site-footer-link-email-site" href="mailto:{{ site.email.site }}">{{ site.email.site }}</a>-->
				<a
					class="site-footer-icon-link"
					href="mailto:{{ site.email.site }}"
					>
					{% include embed/svg.html name="mail" class="site-footer-icon" %}
				</a>
				<a
					class="site-footer-icon-link"
					href="https://github.com/kalrish/blog"
					rel="external"
					>
					{% include embed/svg.html name="github" class="site-footer-icon" %}
				</a>
				<a
					class="site-footer-icon-link"
					href="{{ "/feed.xml" | absolute_url }}"
					rel="alternate"
					type="application/atom+xml"
					>
					{% include embed/svg.html name="feed" class="site-footer-icon" %}
				</a>
			</nav>
		</footer>
	</body>

</html>
