@font-face {
	font-family: Cinzel;
	font-weight: normal;
	src: url($baseurl + "/assets/fonts/Cinzel/Cinzel-Regular.woff2") format("woff2"), url($baseurl + "/assets/fonts/Cinzel/Cinzel-Regular.otf") format("opentype");
}
