#site-header {
	height: 210px;
	background-image: url($baseurl + "/assets/img/course_of_empire-destruction.jpeg");
	background-repeat: no-repeat;
	background-position: 0% 57%;
	background-size: 100%;
}

#site-title {
	margin: 0;
	position: relative;
	top: 12%;
	left: 25%;
}
