#site-header {
	background-image: url($baseurl + "/assets/img/hermannsweg.jpeg");
	background-repeat: no-repeat;
	background-position: 0% 39%;
	background-size: 100%;
}

#site-title {
	margin: 55px 0 45px;
	position: relative;
	left: 48%;
}
