body {
	padding-top: 5px;
	//padding-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

#site-header {
	flex: 0 0 auto;
}

#navibar {
	width: 100%;
	flex: 0 0 auto;
	background-color: #300;
	display: flex;
}

#navibar a {
	padding: 12.5px 16px;
	color: lightblue;
	color: #16a085;
	text-decoration: none;
	display: inline-block;
	&:hover {
		color: black;
		background-color: #ddd;
	}
}

#site-footer {
	flex: 0 0 auto;
}

@import "footer";
